[Desktop Entry]
Type=Application
Name=Disable Sleep Mode
Comment=Prevents the screen from going to sleep or blanking
Exec=sh -c "xset s off; xset s noblank; xset -dpms"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
