[Desktop Entry]
Type=Application
Name=VNC Scraper
Comment=Starts the VNC Scraper loop
Exec=sh -c "$HOME/scripts/start_vnc_scraper.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
